absl-py==2.4.0
asttokens
attrs==26.1.0
cffi==2.0.0
comm
contourpy==1.3.3
cycler==0.12.1
debugpy
decorator
executing
filelock==3.29.0
flatbuffers==25.12.19
fonttools==4.62.1
fsspec==2026.4.0
ipykernel
ipython
ipython-pygments-lexers
jax==0.10.0
jaxlib==0.10.0
jedi
Jinja2==3.1.6
jupyter-client
jupyter-core
kiwisolver==1.5.0
MarkupSafe==3.0.3
matplotlib==3.10.9
matplotlib-inline
mediapipe==0.10.11
ml-dtypes==0.5.4
mpmath==1.3.0
nest-asyncio
networkx==3.6.1
numpy==2.4.4
opencv-contrib-python==4.13.0.92
opt-einsum==3.4.0
packaging==26.0
parso
pexpect
pillow==12.2.0
platformdirs
prompt-toolkit
protobuf==3.20.3
psutil
ptyprocess
pure-eval
pycparser==3.0
Pygments
pyparsing==3.3.2
python-dateutil
pyzmq
scipy==1.17.1
six
sounddevice==0.5.5
stack-data
sympy==1.14.0
torch==2.11.0
tornado
tqdm==4.67.3
traitlets
triton==3.6.0
typing-extensions
wcwidth